a {
  text-decoration: none; }

.green-btn {
  color: white;
  background-color: #95d700;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 30px !important;
  font-size: 0.7857em;
  font-weight: 600; }

header .navbar {
  margin-bottom: 0; }
  header .navbar .navbar-header .navbar-brand img {
    width: 120%; }
  header .navbar .collapse {
    min-height: 100px; }
    header .navbar .collapse ul.nav {
      margin-top: 20px; }
      header .navbar .collapse ul.nav li a {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        font-weight: 500; }
      header .navbar .collapse ul.nav li:last-child {
        margin-top: 5px;
        margin-left: 25px; }

body .se-container {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-top: -102px; }
  body .se-container .se-slope {
    margin: 0 -50px;
    transform-origin: left center; }
    body .se-container .se-slope:nth-child(even) {
      transform: rotate(5deg);
      margin-top: -200px;
      box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.4); }
      body .se-container .se-slope:nth-child(even) .se-content {
        transform: rotate(-5deg);
        color: #e90089;
        padding: 130px 100px 250px 100px; }
        body .se-container .se-slope:nth-child(even) .se-content h3 {
          background: #e90089;
          color: #000; }
    body .se-container .se-slope:nth-child(odd) {
      background: #e90089;
      transform: rotate(-5deg);
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4) inset; }
      body .se-container .se-slope:nth-child(odd) .se-content {
        transform: rotate(5deg);
        color: #000;
        padding: 150px 100px 250px 100px; }
        body .se-container .se-slope:nth-child(odd) .se-content h3 {
          background: #000;
          color: #e90089; }
  body .se-container .nojoda {
    background: url("../img/bckg/home_1slider_1.jpg") no-repeat;
    background-size: 100%;
    height: 630px; }
  body .se-container .home-bckg {
    background: url("../img/bckg/home_bckg3.jpg") no-repeat;
    background-size: 100%;
    height: 630px; }
