html {
  font-size: 14px; }

body {
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9285em;
  font-weight: 500;
  outline: none; }
  a:hover {
    background-color: transparent !important; }
  a:focus {
    background-color: transparent !important;
    outline: none; }

ul {
  text-align: right; }

h2 {
  color: white;
  font-size: 1.5714em;
  font-weight: 600; }

.btn {
  color: white;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 30px !important;
  font-size: 0.9285em;
  font-weight: 600; }

button {
  background-color: transparent;
  border: none; }

header {
  height: 102px; }
  header .navbar-collap {
    background-color: rgba(0, 0, 0, 0.5); }
  header .navbar {
    margin-bottom: 0;
    min-height: 102px;
    z-index: 1;
    position: absolute;
    width: 100%; }
    @media (min-width: 1065px) and (max-width: 1184px) {
      header .navbar .container .navbar-header .navbar-brand {
        margin-left: -65px !important; } }
    header .navbar .container .navbar-header .navbar-brand img {
      width: 120%; }
    header .navbar .container .navbar-header .navbar-toggle span {
      border: 1px solid white; }
    header .navbar .container .collapse {
      border: none !important; }
      header .navbar .container .collapse ul.nav {
        margin-top: 20px; }
        @media (max-width: 1065px) {
          header .navbar .container .collapse ul.nav {
            text-align: right; } }
        header .navbar .container .collapse ul.nav li > a {
          color: white;
          font-family: 'Open Sans', sans-serif;
          font-size: 0.9285em;
          font-weight: 500; }
          header .navbar .container .collapse ul.nav li > a:hover {
            background-color: transparent;
            color: #95D700; }
          header .navbar .container .collapse ul.nav li > a:focus {
            background-color: transparent;
            color: #95D700;
            border: none; }
        header .navbar .container .collapse ul.nav li:last-child {
          margin-top: 5px;
          margin-left: 20px; }
          header .navbar .container .collapse ul.nav li:last-child button {
            background-color: transparent;
            border: none; }
            header .navbar .container .collapse ul.nav li:last-child button a {
              background-color: #95D700; }
              @media (max-width: 1065px) {
                header .navbar .container .collapse ul.nav li:last-child button a {
                  float: right;
                  margin-right: 10px; } }
              header .navbar .container .collapse ul.nav li:last-child button a:hover {
                background-color: #95D700 !important;
                color: white; }

/* home styles */
hr {
  border-top: 2.5px solid #95D700;
  width: 161px; }

body .se-container {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-top: -102px; }
  body .se-container .se-slope {
    margin: 0 -50px;
    transform-origin: left center; }
    body .se-container .se-slope:nth-child(even) {
      transform: rotate(5deg);
      margin-top: -200px; }
      body .se-container .se-slope:nth-child(even) .se-content {
        transform: rotate(-5deg);
        padding-top: 50px; }
    body .se-container .se-slope:nth-child(odd) {
      background: white;
      transform: rotate(-5deg); }
      body .se-container .se-slope:nth-child(odd) .se-content {
        transform: rotate(5deg);
        color: #000;
        padding: 150px 100px 250px 100px; }
  body .se-container .home-slider > a {
    position: absolute;
    top: 250px;
    color: white;
    font-size: 1.5714em; }
  body .se-container .home-slider .slide-next {
    right: 70px; }
  body .se-container .home-slider .slide-prev {
    left: 70px; }
  body .se-container .home-slider .home-bckg-slider {
    background: url("../img/bckg/home_1slider_1.jpg") no-repeat;
    background-size: cover;
    height: 650px;
    padding-left: 10%; }
    body .se-container .home-slider .home-bckg-slider h2 {
      margin: 0 0 0 50px;
      padding-top: 35vh; }
    body .se-container .home-slider .home-bckg-slider p {
      color: white;
      font-size: 1.1428em;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      max-width: 315px;
      line-height: 1.3;
      margin-left: 50px; }
  body .se-container .home-green-bckg {
    background: url("../img/bckg/home_bckg.png") no-repeat;
    background-size: 100%;
    height: 500px; }
    body .se-container .home-green-bckg p {
      color: white;
      font-size: 1.1428em;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      padding-right: 58%;
      line-height: 1.7; }
    body .se-container .home-green-bckg a {
      background-color: #343D3E; }
  body .se-container .home-ourTech {
    overflow: hidden;
    box-shadow: 0px -1px 3px black; }
    body .se-container .home-ourTech .se-content {
      padding-top: 0 !important;
      margin-top: -100px; }
      body .se-container .home-ourTech .se-content .bck-img-tech {
        background: url("../img/bckg/home_2slider_tech3.jpg") no-repeat;
        background-size: 100%;
        height: 850px;
        padding-top: 270px;
        text-align: center; }
        body .se-container .home-ourTech .se-content .bck-img-tech h2 {
          font-size: 1.5714rem;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          margin-bottom: 15px; }
        body .se-container .home-ourTech .se-content .bck-img-tech h3 {
          font-size: 1.2857rem !important;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          color: white;
          margin-bottom: 10px;
          margin-top: 0; }
        body .se-container .home-ourTech .se-content .bck-img-tech hr {
          margin-top: 10px;
          width: 131px; }
        body .se-container .home-ourTech .se-content .bck-img-tech p {
          font-size: 1rem;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          color: white;
          padding: 0 35%; }
        body .se-container .home-ourTech .se-content .bck-img-tech .btn {
          background-color: #95D700; }
        body .se-container .home-ourTech .se-content .bck-img-tech .slidebtn {
          position: absolute;
          top: 400px;
          color: white;
          font-size: 1.5714em; }
        body .se-container .home-ourTech .se-content .bck-img-tech .slide-next {
          right: 90px; }
        body .se-container .home-ourTech .se-content .bck-img-tech .slide-prev {
          left: 90px; }
  body .se-container .home-ourClients {
    transform: rotate(-7deg) !important; }
    body .se-container .home-ourClients .se-content {
      transform: rotate(8deg) !important;
      text-align: center;
      padding: 100px 0 0 0 !important; }
      body .se-container .home-ourClients .se-content h1 {
        color: #333D3E;
        font-weight: 400;
        font-size: 1.5714rem; }
      body .se-container .home-ourClients .se-content hr {
        width: 330px; }
      body .se-container .home-ourClients .se-content .clients-logos img {
        width: 14%;
        margin-right: 30px; }
        body .se-container .home-ourClients .se-content .clients-logos img:last-child {
          margin-right: 0; }
      body .se-container .home-ourClients .se-content .clients-sliderBtns {
        text-align: center;
        margin-bottom: 60px; }
        body .se-container .home-ourClients .se-content .clients-sliderBtns a span {
          display: inline-block;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: black;
          border: 2px solid black; }
        body .se-container .home-ourClients .se-content .clients-sliderBtns a:last-child span {
          background-color: white; }
      body .se-container .home-ourClients .se-content > p {
        color: #333D3E;
        font-size: 1.7142rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
        margin-right: 30px; }
      body .se-container .home-ourClients .se-content > a {
        background-color: #95D700;
        display: inline-block;
        vertical-align: middle;
        font-size: 1.2857rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400; }
body .home-whatdo .se-content {
  padding-top: 100px !important;
  padding-bottom: 210px !important; }
  body .home-whatdo .se-content h2 {
    text-align: center;
    color: #333D3E !important; }
  body .home-whatdo .se-content hr {
    border-top: 2px solid #95D700;
    width: 161px; }
  body .home-whatdo .se-content p {
    color: #768D8C;
    font-size: 1.1428em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
    padding: 0 18%; }
  body .home-whatdo .se-content h3 {
    color: #333D3E;
    font-size: 1.2857em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 0 23%;
    line-height: 1.7;
    margin-bottom: 70px; }
  body .home-whatdo .se-content .row {
    text-align: center; }
    body .home-whatdo .se-content .row > div .rds {
      margin-bottom: 29px; }
    body .home-whatdo .se-content .row > div .tableau {
      margin-bottom: 17px; }
    body .home-whatdo .se-content .row > div h4 {
      text-align: center;
      font-size: 1.1428em;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      padding: 0 15%; }
    body .home-whatdo .se-content .row > div p {
      padding: 0 8%; }
    body .home-whatdo .se-content .row > div a {
      background-color: #95D700; }
    body .home-whatdo .se-content .row > div:nth-child(2) p {
      padding: 0 12% !important; }

.description {
  text-align: center;
  background: url("../img/bckg/quienes-somos_bckg.jpg");
  background-size: cover;
  margin-top: -102px;
  padding: 9.2857rem 25px; }
  .description__legend {
    font-size: 1.5714rem;
    color: white;
    max-width: 610px;
    margin: 0.8214rem auto; }
    .description__legend--small {
      font-size: 1.1428rem; }

.team {
  padding-bottom: 3em; }
  .team__people {
    margin-top: -99px; }
  .team__person {
    text-align: center;
    margin: 0.8rem 0; }
    .team__person--first-one {
      margin-left: 12.5%; }
    .team__person--first-two {
      margin-left: 25%; }
    .team__person__photo {
      border: 2px solid #7EA09F;
      border-radius: 50%;
      width: 198px;
      height: 198px;
      margin-bottom: 12px; }
    .team__person__name {
      font-size: 1.1428rem;
      color: #9BB325;
      font-weight: 700;
      margin: 0; }
    .team__person__position {
      font-size: 0.9285rem;
      color: #7B9492;
      font-weight: 600;
      margin: 0; }

.home-whatdo--quienes-somos {
  background-color: #F6F6F6; }

body .home-whatdo .se-content--quienes-somos {
  padding-top: 3.3rem !important;
  padding-bottom: 4.3rem !important; }

.how-do {
  text-align: center;
  padding: 2.9rem 0; }
  .how-do__title {
    color: #333D3E;
    font-size: 1.5714rem;
    font-weight: 600;
    margin: 0; }
    .how-do__title:after {
      content: "";
      border-bottom: 2px solid #95D700;
      width: 230px;
      display: block;
      margin: 1.2rem auto 0 auto; }
  .how-do__legend {
    color: #B1C54A;
    font-size: 1.2857rem;
    font-weight: 600;
    margin: 3rem auto;
    max-width: 480px; }
  .how-do__description {
    color: #768C8C;
    font-size: 1rem;
    text-align: left;
    max-width: 390px;
    font-weight: 600; }
  .how-do__first-description {
    margin-left: 8.33%; }

#our-technology .our-technology-main {
  background: url("../img/bckg/nuestra-tecnologia_bckg.jpg") no-repeat;
  background-size: cover;
  padding: 17.3571rem 0;
  text-align: center;
  margin-top: -102px; }
  #our-technology .our-technology-main h2 {
    font-weight: 600;
    font-size: 1.7142rem; }
  #our-technology .our-technology-main h4 {
    color: white;
    font-size: 1.4285rem;
    font-weight: 600; }
#our-technology .our-technology-audit {
  padding: 35px 0; }
  #our-technology .our-technology-audit .container {
    text-align: center; }
    #our-technology .our-technology-audit .container img {
      display: inline-block; }
    #our-technology .our-technology-audit .container h5 {
      display: inline-block;
      font-size: 1.1428rem;
      color: #253247;
      font-weight: 600;
      vertical-align: middle;
      margin-left: 20px; }
    #our-technology .our-technology-audit .container > p {
      color: #5F7A81;
      font-size: 1.1428rem;
      font-weight: 300;
      max-width: 782px;
      margin: 30px auto;
      line-height: 1.7; }
      #our-technology .our-technology-audit .container > p span {
        font-weight: 700; }
    #our-technology .our-technology-audit .container hr {
      width: 89%;
      border-top: 2.5px solid #ddd; }
    #our-technology .our-technology-audit .container .row {
      padding-left: 6%; }
      #our-technology .our-technology-audit .container .row h4 {
        color: #253246;
        font-size: 1.1428rem;
        font-weight: 600;
        text-align: left; }
      #our-technology .our-technology-audit .container .row p {
        color: #5F7A81;
        font-size: 1rem;
        font-weight: 300;
        text-align: left;
        max-width: 283px;
        line-height: 1.8; }
#our-technology .our-technology-rds {
  background: url("../img/bckg/nuestra-tecnologia_RDSbckg.jpg") no-repeat;
  background-size: cover;
  padding: 17.3571rem 0;
  text-align: center; }
  #our-technology .our-technology-rds h2 {
    font-weight: 600;
    font-size: 1.7142rem; }
  #our-technology .our-technology-rds h4 {
    color: white;
    font-size: 1.4285rem;
    font-weight: 600; }
#our-technology .our-technology-productosRel {
  padding: 35px 0; }
  #our-technology .our-technology-productosRel .container .row:first-child div img {
    display: inline-block;
    margin-right: 15px; }
  #our-technology .our-technology-productosRel .container .row:first-child div h5 {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1428rem;
    font-weight: 600; }
  #our-technology .our-technology-productosRel .container .row:first-child div p {
    font-size: 1rem;
    font-weight: 300;
    color: #5F7A81;
    line-height: 1.9;
    max-width: 460px; }
  #our-technology .our-technology-productosRel .container .row:first-child div:last-child {
    padding-left: 0; }
  #our-technology .our-technology-productosRel .container h4 {
    font-weight: 400;
    font-size: 1.1428rem;
    color: #253248; }
  #our-technology .our-technology-productosRel .container .row:last-child div {
    text-align: center; }
    #our-technology .our-technology-productosRel .container .row:last-child div img {
      width: 100%; }
    #our-technology .our-technology-productosRel .container .row:last-child div p {
      color: #263347;
      font-weight: 600;
      font-size: 0.9285rem;
      line-height: 1;
      margin-bottom: 0; }
      #our-technology .our-technology-productosRel .container .row:last-child div p:last-child {
        color: #768C8C; }

.job {
  padding: 3.2rem;
  text-align: center; }
  .job-bckg {
    margin-top: -102px;
    background: url("../img/bckg/trabaja-con-nosotros_bckg.jpg");
    background-size: cover;
    height: 607px; }
  .job__form {
    display: inline-block;
    width: none; }
    @media (max-width: 552px) {
      .job__form {
        width: 100%; } }
    .job__form__title {
      font-size: 0.85rem;
      color: #3F3F3F;
      font-weight: 300;
      margin-bottom: 8px;
      text-align: left; }
    .job__form__input {
      width: 460px;
      height: 2.5em;
      color: #3F3F3F;
      background-color: #F7F7F7;
      border: none;
      padding-left: 10px; }
      @media (max-width: 552px) {
        .job__form__input {
          width: 100%; } }
      .job__form__input:focus {
        outline: none; }
      .job__form__input--higher {
        height: 8em; }
    .job__form__button {
      display: block;
      width: 5em;
      text-align: center;
      font-size: 1.15rem;
      color: #5F7A81;
      border: 1px solid #E8E8E8;
      padding: 0.5rem;
      margin-top: 10px; }
      .job__form__button:hover {
        text-decoration: none;
        color: #5F7A81; }
      .job__form__button:focus {
        outline: none;
        text-decoration: none; }

.woman {
  background: url("../img/bckg/productos_bckg1.jpg");
  background-size: cover;
  height: 597px;
  margin-top: -102px; }

.bar {
  background: url("../img/bckg/productos_bckg.png");
  background-size: cover;
  margin-top: -165px;
  padding: 150px 10% 265px 10%; }
  .bar__title {
    color: white;
    font-size: 2.5rem; }

.productos {
  text-align: center;
  padding: 10px 25px; }
  .productos > li {
    display: inline-block;
    margin: 20px; }
  .productos__icon {
    display: inline-block;
    width: 15px;
    height: 12px;
    background: url("../img/bckg/productos_icon.jpg"); }
  .productos__item {
    font-size: 1.2rem;
    color: #768C8C;
    font-weight: 600; }
    .productos__item:hover {
      text-decoration: none;
      color: black; }

.productos-bckg {
  background-size: cover;
  height: 597px;
  margin-top: -102px;
  text-align: center;
  padding-top: 230px; }
  .productos-bckg--nsg {
    background: url("../img/bckg/producto-nsg-bckg.jpg"); }
  .productos-bckg__title {
    font-size: 1.5714rem;
    font-weight: 600;
    color: white; }

.map {
  background: url("../img/bckg/contacto_bckg_map.jpg");
  background-size: cover;
  height: 597px;
  margin-top: -102px; }

.contacto_form {
  padding: 35px 0; }
  .contacto_form .container > div:first-child {
    padding-left: 5%; }
    .contacto_form .container > div:first-child > a {
      margin-top: 15px; }
      .contacto_form .container > div:first-child > a span {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-top: 15px; }
      .contacto_form .container > div:first-child > a .contacto-fb {
        background: url("../img/icn/contacto_fb.png"); }
      .contacto_form .container > div:first-child > a .contacto-g {
        background: url("../img/icn/contacto_g.png"); }
      .contacto_form .container > div:first-child > a .contacto-in {
        background: url("../img/icn/contacto_in.png"); }
  .contacto_form .container > div:last-child {
    padding-right: 11%; }
    .contacto_form .container > div:last-child h4 {
      max-width: 329px;
      line-height: 1.7; }
  .contacto_form .container > div h4 {
    font-weight: 600;
    color: #253248;
    font-size: 1.1428rem; }
  .contacto_form .container > div p {
    color: #5F7A81;
    font-weight: 600;
    font-size: 1rem;
    margin: 0 0 7px 0; }
  .contacto_form .container > div hr {
    border-top: 2.5px solid #5F7A81;
    width: 260px;
    margin: 15px 0; }
  .contacto_form .container > div span {
    color: #3F3F3F;
    font-weight: 300;
    font-size: 0.8571rem; }
  .contacto_form .container > div label {
    color: #3F3F3F;
    font-weight: 300;
    font-size: 0.8571rem; }
  .contacto_form .container > div input, .contacto_form .container > div textarea {
    background-color: #F7F7F7;
    border-radius: 0;
    border: none; }
  .contacto_form .container > div button {
    border: 2px solid #E8E8E8;
    border-radius: 0;
    color: #5F7A81;
    font-size: 1.1428rem;
    font-weight: 300;
    padding: 10px !important; }

/* footer styles */
footer {
  background: url("../img/bckg/footer_bckg.jpg");
  padding-top: 90px; }
  footer > .container {
    position: relative; }
    footer > .container p {
      color: white;
      font-size: 1.2857rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      line-height: 1.4;
      margin: 0 0 0 5px; }
      footer > .container p:first-child {
        margin: 0 0 15px 0; }
      footer > .container p:nth-child(5) {
        margin-bottom: 35px; }
      footer > .container p:nth-child(6) {
        display: inline-block; }
    footer > .container .social-networks {
      position: absolute;
      top: 60px;
      right: 0;
      min-width: 232px; }
      @media (max-width: 590px) {
        footer > .container .social-networks {
          position: relative;
          width: 232px;
          top: 20px; } }
      footer > .container .social-networks a {
        margin-right: 30px; }
        footer > .container .social-networks a img {
          width: 19%;
          opacity: 0.8; }
          footer > .container .social-networks a img:hover {
            opacity: 1; }
    footer > .container > a {
      color: white;
      font-size: 1.2857rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400; }
  footer .minifooter {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    margin-top: 60px; }
    @media (max-width: 700px) {
      footer .minifooter {
        text-align: center; } }
    footer .minifooter .container {
      vertical-align: middle; }
      footer .minifooter .container span {
        color: white;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400; }
      footer .minifooter .container ul {
        float: right;
        margin: 0; }
        @media (max-width: 700px) {
          footer .minifooter .container ul {
            float: none;
            text-align: center;
            margin: 5px 0 10px 0;
            padding: 0; } }
        footer .minifooter .container ul li {
          display: inline-block;
          margin-right: 25px; }
          @media (max-width: 500px) {
            footer .minifooter .container ul li {
              margin-right: 15px;
              margin-bottom: 5px; } }
          footer .minifooter .container ul li a {
            color: white;
            font-size: 1rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400; }

/*# sourceMappingURL=main.css.map */
