// Header Styles
header {
	.navbar {
		margin-bottom: 0;
		.navbar-header {
			.navbar-brand {
				img {
					width: 120%;
				}
			}
		}
		.collapse {
			min-height: 100px;
			ul.nav {
				margin-top: 20px;
				li {
					>a {
						color: white;
						font-family: 'Open Sans', sans-serif;
						font-size: 0.9285em;
						font-weight: 500;
						&:hover {
							background-color: transparent;
							color: $light-green;
						}
					}
					&:last-child {
						margin-top: 5px;
						margin-left: 25px;
						a {
							background-color: $light-green;
						}
					}
				}
			}
		}
	}
}
