// Header Styles
header {
	.navbar {
		margin-bottom: 0;
		.collapse {
			min-height: 100px;
			ul.nav {
				margin-top: 15px;
				li {
					a {
						color: white;
						font-family: 'Open Sans', sans-serif;
						font-size: 0.7857em;
						font-weight: 600;
					}
					&:last-child {
						margin-top: 8px;
					}
				}
			}
		}
	}
}
