.woman {
	background: url("../img/bckg/productos_bckg1.jpg");
	background-size: cover;
	height: 597px;
	margin-top: -102px;
}
.bar {
	background: url("../img/bckg/productos_bckg.png");
	background-size: cover;	
	margin-top: -165px;	
	padding: 150px 10% 265px 10%;	
	&__title {
		color: white;
		font-size: 2.5rem;		
	}
}
.productos {
	text-align: center;
	padding: 10px 25px;
	&>li {
		display: inline-block;
		margin: 20px;
	}
	&__icon {
		display: inline-block;
		width: 15px;
		height: 12px;
		background: url("../img/bckg/productos_icon.jpg");		
	}
	&__item {
		font-size: 1.2rem;
		color: #768C8C;
		font-weight: 600;
		&:hover {
			text-decoration: none;
			color: black;
		}
	}
}