.productos-bckg {
	&--nsg {
		background: url("../img/bckg/producto-bckg-nsg.jpg");
	}
	background-size: cover;
	height: 597px;
	margin-top: -102px;
	text-align: center;
	padding-top: 230px;
	&__title {
		font-size: 1.5714rem;
		font-weight: 600;
		color: white;
	}
}