$light-green: #95D700; 

html {
	font-size: 14px;
}
body {
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9285em;
	font-weight: 500;
	outline: none;
	&:hover {
		background-color: transparent !important;
	}
	&:focus {
		background-color: transparent !important;
		outline: none;
	}
}	
ul {
	text-align: right;
}

h2 {
	color: white;
	font-size: 1.5714em;
	font-weight: 600;
}

// Main Button

.btn {
	color: white;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 30px !important;
	font-size: 0.9285em;
	font-weight: 600;
}

button {
	background-color: transparent;
	border: none;
}

